<app-menu></app-menu>
<table class="table table-hover">
    <thead>
        <th>Type</th>
        <th>Datum</th>
        <th>Begintijd</th>
        <th>Eindtijd</th>
        <th>Inschrijven</th>
    </thead>
    <tbody>
        <tr *ngFor="let operatie of list">
            <td>{{operatie.type}}</td>
            <td>{{operatie.datum}}</td>
            <td>{{operatie.begintijd}}</td>
            <td>{{operatie.eindtijd}}</td>
            <td><a  class="btn" (click)="onInschrijven(operatie.id)"><i class="fa fa-check" aria-hidden="true"></i></a></td>
        </tr>
    </tbody>
</table>